// Various BannnerTitleContainers for positioning title over an image using absolute positioning
// It also has a container for the child component with position set to relative.
// This allows you to move child component within the BannerContainer.

/* container for top left quadrant */
.top-left-container {
  position: absolute;
  top:    0;
  left:   0;
  bottom: 50%;
  right:  50%; 
}

/* container for top right quadrant */
.top-right-container {
  top:     0;
  right:   0;
  position: absolute;
  bottom: 50%;
  left:   50%; 
}

/* container for bottom right quadrant */
.bottom-right-container {
  position: absolute;
  bottom: 0;
  right:  0;
  left:   50%; 
  top:    50%;
}

/* container for bottom left quadrant */
.bottom-left-container {
  position: absolute;
  bottom: 0;
  left:   0; 
  right:  50%;
  top:    50%;
}

/* container for bottom left quadrant */
.center-container {
  position: absolute;
  bottom: 20%;
  left:   10%; 
  right:  10%;
  top:    20%;
}

/* no container;  */
.full-container {
  position: absolute;
  left: 0;
  top:  0;
}

// ********************************************************
// Title element
// ********************************************************

/* banner title set to relative so you can move/adjust the child component
  (actual title component) around the selected quadrant */
.banner-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

