@import  './settings.scss';


/* Sets width 100% and centers underlying blogContainer */
.topLevelContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
  font-family: Lato;
}

/* second level container: contains the contentContainer and the rightSideAds */
.blogContainer {
  display: flex;
  justify-content: center;
  width: 63%;

  @media only screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    width: 100vw;
  } 
}

// .postContentContainer {
  // display: flex;
  // flex-direction: column;
  // padding: 0 10%;

  // @media only screen and  (max-width: 768px) {
  //   padding: 0 0 0 0;
  // } 
// }

/* used to specifiy viewport width for blog-details on mobile devices */ 
.blogDetailViewportWidth {
  @media only screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    width: 94vw;
  } 
}

// *****************************************************
// list styles 
// *****************************************************
// Indent unorder list 
.indentList {
  margin-left: 4rem; 
}

.ulSpacing {
  margin: 2rem 4rem 0 4rem;
}

// unordered list item bullet style
ul > li.squareBullet {
    list-style-type: square;
}

// ordered list item 
ol > li.numbered {
  list-style-type: decimal;
  padding-left: .50rem;
}
// end-of list styles ********************************

.blue-anchor-text {
    text-decoration: none;
    color: $blue;

    &:hover {
        color: $lightblue !important;
        text-decoration: none;
    }
}

.blueAnchor {
  text-decoration: none;
  color: $blue;

  &:hover {
      color: $lightblue !important;
      text-decoration: none;
  }
}

.h2tag {
    color: $greyshade5;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 2.5rem 0 -.5rem 0;
    padding: 0 4% 0;    /* same padding s/d be used in .content */
    
}

.h3tag {
    color: $greyshade5;
    // display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    // padding-bottom: 0;
    padding: 0 4% 0; 
    margin-bottom: -1rem;
}

.content {
  color: $greyshade5;
  display: inline-block;
  text-align: justify;
  font-size: 1.2rem;
  margin-top: 2rem;
  padding: 0 4% 0;  /* same padding s/d be used in h2tag and h3Tag */
}

.blogListItemsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10%;

  @media only screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    margin: 0 2%;
  } 
}

.blogListItem {
  list-style-type: none;
  list-style-position: outside;
}

.blog-list-item-with-circle {
  list-style-type: circle;
  margin-left: 1rem;
}

/* This class was add to reduce size of font for title on media devices */
.blogListTitle {
  font-size: 24px;
  padding-top: 22px;
  color: #626262;
  font-weight: 400;

  &:hover {
    color: $orange;
  }

  @media only screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    font-size: $font-size-small;
    padding: 0 3px;
  } 
}

.blogListImageStyle {
  max-width: 555px;
  // width: 100%;
  max-height: 292px;
  transition: transform 1s;
  margin: 0 auto;
  transform: scale(1.1);

  &:hover {
    transform: scale(1);
  }
}

.blogDetailTitle {
  color: $greyshade5;
  font-size: $font-size-large + .2rem;
  margin-top: 0;
  padding-top: 1rem;
  font-weight: 400;
  line-height: 2.2rem;
  
  @media only screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    font-size: $font-size-medium;
  } 
}


/* Used to completely remove the right side ads, as they were still taking up padding 
   space to right side of content when scaling down to mobile devices */
.rightSideAds {
  margin-top: -2rem;
  // @media only screen and (max-width: 1200px) {
  @media only screen and (min-width: $mobile-min) and (max-width: 1024px) {
    display: none;
  } 
}

