@import './settings.scss';

// Fontawesome custom styles with no hover effect

.facebookIcon {
  height: 19px;
  width: 20px;
  color:$blue;
  margin: 7px 9px 6px 7px;
}

.linkedinIcon {
  height: 23px;
  width: 23px;
  color:$blue;
  margin: 5px 0 0 2px;
}

.twitterIcon {
  height: 24px;
  width: 22px;
  color:$blue;
  margin: 5px;
}


// Container used postion and apply hover effect */

.iconContainer {

  &:hover {
    color: white;
  }
}