@import './settings.scss';

.accordianItem {
  width: 55rem;
  padding: 6px 0;

  @media screen and (min-width: $mobile-min) and (max-width: 790px) {
    width: 100%;
    padding: 5px 3%;
  }
}

.breadCrumbPosition {
  // margin-top: 5rem;

  @media screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    margin-top: -5rem;
  }
}